<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Nova rezervacija</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Datum</ion-label>
    <ion-input
      type="date"
      [(ngModel)]="date"
      (ionChange)="onDateChange()">
    </ion-input>
  </ion-item>

  <div *ngIf="date" style="margin-top: 20px;">
    <h3 style="margin-bottom: 10px;">Izaberite termin</h3>
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let slot of allSlots">
          <ion-button
            expand="block"
            [color]="getSlotColor(slot)"
            [disabled]="isBooked(slot)"
            (click)="selectTime(slot)">
            {{ slot }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-item style="margin-top: 20px;">
    <ion-label position="floating">Broj osoba</ion-label>
    <ion-input
      type="number"
      [(ngModel)]="numberOfGuests"
      min="1"
      max="20">
    </ion-input>
  </ion-item>

  <ion-button
    expand="block"
    class="ion-margin-top"
    [disabled]="!date || !time"
    (click)="onSubmit()">
    <ion-icon name="checkmark" slot="start"></ion-icon>
    Potvrdi rezervaciju
  </ion-button>

</ion-content>