
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Restoran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <h2>Dobrodošli!</h2>
  <p>Rezervišite sto u našem restoranu</p>

  <ion-button expand="block" routerLink="/new-reservation" color="primary">
    <ion-icon name="add-circle" slot="start"></ion-icon>
    Nova rezervacija
  </ion-button>

  <ion-button expand="block" routerLink="/reservations" color="secondary">
    <ion-icon name="calendar" slot="start"></ion-icon>
    Moje rezervacije
  </ion-button>
</ion-content>
